.idea
.vscode
.DS_Store
examples/animation/animation
examples/simple/images
examples/simple/keyboard
examples/simple/mouse
examples/simple/roguelike
examples/simple/simple
examples/simple/text
examples/simple/tunnel
